In [0]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

TensorFlow 2.x selected.
Found GPU at: /device:GPU:0

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!ls "/content/gdrive/My Drive/"

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import io

In [0]:
events=pd.read_csv('/content/drive/My Drive/Colab Notebooks/events.csv')

In [4]:
events.event.unique()

array(['view', 'addtocart', 'transaction', 'add'], dtype=object)

In [0]:
events=events[events.event != 'addtocart']
events=events[events.event != 'transaction']
events=events[events.event != 'add']

In [6]:
events.shape

(2460279, 5)

In [0]:
events=events.drop(['timestamp','transactionid'],axis=1)

In [8]:
events["purchase_count"]=''
events.head()

   visitorid event    itemid purchase_count
0     257597  view  355908.0
1     992329  view  248676.0
2     111016  view  318965.0
3     483717  view  253185.0
4     951259  view  367447.0

In [9]:
events['visitorid'].value_counts()

1150086    5733
530559     3063
152963     2252
163561     2194
895999     2185
           ...
48370         1
42225         1
17645         1
19692         1
301932        1
Name: visitorid, Length: 1304940, dtype: int64

In [10]:
events.groupby('visitorid').itemid.agg(['count', 'first']).head(n=10)

           count     first
visitorid
0              3  285930.0
1              1   72028.0
2              8  216305.0
3              1  385090.0
4              1  177677.0
5              1   61396.0
6              5  344723.0
7              3  164941.0
8              1  434230.0
9              1  222422.0

In [0]:
group=events.groupby('visitorid')
df3 = group.apply(lambda x: x['itemid'].unique())
#df2 = pd.DataFrame({'visitorid':events.visitorid.unique()})

In [0]:
df2=df3

In [23]:
df3

                                         your value
visitorid
0                     [285930.0, 357564.0, 67045.0]
1                                         [72028.0]
2          [216305.0, 325215.0, 342816.0, 259884.0]
3                                        [385090.0]
4                                        [177677.0]
...                                             ...
1407575                                  [121220.0]
1407576                                  [356208.0]
1407577                                  [427784.0]
1407578                                  [188736.0]
1407579                                    [2521.0]

[1304940 rows x 1 columns]

In [0]:
df4=pd.DataFrame({'visitorid':df2.index, 'products':df2.values})

In [0]:
df5=events.groupby('visitorid').itemid.agg(['count', 'first']).head(n=10)

In [43]:
df5

           count     first
visitorid
0              3  285930.0
1              1   72028.0
2              8  216305.0
3              1  385090.0
4              1  177677.0
5              1   61396.0
6              5  344723.0
7              3  164941.0
8              1  434230.0
9              1  222422.0

In [0]:
df5['visitorid']=df5.index

In [56]:
df5

           count     first  visitorid
visitorid
0              3  285930.0          0
1              1   72028.0          1
2              8  216305.0          2
3              1  385090.0          3
4              1  177677.0          4
5              1   61396.0          5
6              5  344723.0          6
7              3  164941.0          7
8              1  434230.0          8
9              1  222422.0          9

In [65]:
df5=df5.rename(columns={ df5.columns[0]: "prod_freq" })
df5=df5.rename(columns={ df5.columns[1]: "itemid" })
df5=df5.rename(columns={ df5.columns[2]: "customerid" })
df5

           prod_freq    itemid  customerid
visitorid
0                  3  285930.0           0
1                  1   72028.0           1
2                  8  216305.0           2
3                  1  385090.0           3
4                  1  177677.0           4
5                  1   61396.0           5
6                  5  344723.0           6
7                  3  164941.0           7
8                  1  434230.0           8
9                  1  222422.0           9

In [0]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(df5)

In [0]:
df_matrix = pd.pivot_table(df5, values='prod_freq', index='customerid', columns='itemid')

In [69]:
df_matrix

itemid      61396.0   72028.0   164941.0  ...  344723.0  385090.0  434230.0
customerid                                ...
0                NaN       NaN       NaN  ...       NaN       NaN       NaN
1                NaN       1.0       NaN  ...       NaN       NaN       NaN
2                NaN       NaN       NaN  ...       NaN       NaN       NaN
3                NaN       NaN       NaN  ...       NaN       1.0       NaN
4                NaN       NaN       NaN  ...       NaN       NaN       NaN
5                1.0       NaN       NaN  ...       NaN       NaN       NaN
6                NaN       NaN       NaN  ...       5.0       NaN       NaN
7                NaN       NaN       3.0  ...       NaN       NaN       NaN
8                NaN       NaN       NaN  ...       NaN       NaN       1.0
9                NaN       NaN       NaN  ...       NaN       NaN       NaN

[10 rows x 10 columns]

In [0]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

In [71]:
df_matrix_norm

itemid      61396.0   72028.0   164941.0  ...  344723.0  385090.0  434230.0
customerid                                ...
0                NaN       NaN       NaN  ...       NaN       NaN       NaN
1                NaN       NaN       NaN  ...       NaN       NaN       NaN
2                NaN       NaN       NaN  ...       NaN       NaN       NaN
3                NaN       NaN       NaN  ...       NaN       NaN       NaN
4                NaN       NaN       NaN  ...       NaN       NaN       NaN
5                NaN       NaN       NaN  ...       NaN       NaN       NaN
6                NaN       NaN       NaN  ...       NaN       NaN       NaN
7                NaN       NaN       NaN  ...       NaN       NaN       NaN
8                NaN       NaN       NaN  ...       NaN       NaN       NaN
9                NaN       NaN       NaN  ...       NaN       NaN       NaN

[10 rows x 10 columns]